@model Projeto_Sistema_de_Vendas.Models.Venda

<h1>Cadastrar Nova Venda</h1>

<form asp-action="Cadastrar">
    <div class="form-group">
        <label asp-for="ClienteId" class="control-label"><strong>Cliente</strong></label>
        <select asp-for="ClienteId" asp-items="@ViewBag.Cliente" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="VendedorId" class="control-label"><strong>Vendedor</strong></label>
        <select asp-for="VendedorId" asp-items="@ViewBag.Vendedor" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="DataVenda" class="control-label"><strong>Data da Venda</strong></label>
        <span asp-validation-for="DataVenda" class="text-danger"></span>
        <input asp-for="DataVenda" class="form-control" />
    </div>


    <input type="hidden" id="TotalVenda" name="Total" value="0" />

    @*Aqui está a lista na qual o JSON vai buscar os valores*@
    @*É tipo hidden para ser "invisivel" para o usuario*@
    <input type="hidden" id="listaProdutosJSON" name="ListaProdutosJSON" />

    <div class="form-group ">
        <div class="row">
            <div class="col-md-4">
                <label for="ProdutoId" class="control-label"><strong>Produto</strong></label>
                <span asp-validation-for="ListaProdutosJSON" class="text-danger" style="margin-bottom: 20px;"></span>
                @*Validação da lista, se nao houver produto vai mostrar a mensagem*@
                <select id="ProdutoId" name="ProdutoId" asp-items="@ViewBag.Produto" class="form-control"></select>
            </div>
            <div class="col-md-4">
                <label for="Quantidade" class="control-label"><strong>Quantidade</strong></label>
                <input type="text" id="QuantidadeProduto" class="form-control" value="1" />
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <button type="button" class="btn btn-primary w-100" onclick="AdicionarProduto()">Adicionar a
                    Lista</button>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">Produto</th>
                <th class="text-center align-middle">Quantidade</th>
                <th class="text-center align-middle">Preço Unitário</th>
                <th class="text-center align-middle">Total</th>
            </tr>
        </thead>

        <tbody id="listaProdutos">
            @* Os produtos serão inseridos aqui via JavaScript *@
        </tbody>

    </table>


    <div style="float: right; font-size:22px; margin-left:5px;" id="divTotal">0,00</div>
    <div style="float: right; font-size:22px;">Total R$:</div>

    <br>
    <br>
    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary w-100" />
    </div>
</form>
<a asp-action="Index" class="btn btn-success w-100 mt-3">Voltar</a>

<script>
    var Itens = { Produtos: [] };
    var ListaProdutos = document.getElementById("listaProdutos");

    //Criando a chamada do JSON com base no id listaProdutosJSON
    var ListaProdutosJSON = document.getElementById("listaProdutosJSON");

    var CodigoProduto = document.getElementById("ProdutoId");
    var QuantidadeProduto = document.getElementById("QuantidadeProduto");
    var TotalVenda = 0;


    function AdicionarProduto() {
        var produtoId = CodigoProduto.value;
        var nomeProduto = CodigoProduto.options[CodigoProduto.selectedIndex].text;
        var quantidade = QuantidadeProduto.value;
        if (isNaN(quantidade) || quantidade <= 0) {
            alert("Quantidade inválida, Digite um número maior que zero.");
            return;
        }

        $.ajax({
            url: '/Venda/GetPrecoProduto',
            type: 'GET',
            data: { id: produtoId },
            success: function (response) {
                var precoUnitario = response.preco;
                var total = (quantidade * precoUnitario);

                var produtoExiste = Itens.Produtos.find(p => p.ProdutoId === parseInt(produtoId));

                if (produtoExiste) {

                    TotalVenda -= (produtoExiste.QuantidadeProduto * produtoExiste.ValorProduto);
                    produtoExiste.QuantidadeVendida += parseFloat(quantidade);
                    produtoExiste.ValorProduto = precoUnitario;
                }
                else {

                    //JSON que será passado para a controller
                    //Os atributos entre " " deve estar igual ao da Model
                    //JSON passa os valores da tabela VendaProduto
                    Itens.Produtos.push({
                        "ProdutoId": parseInt(produtoId),
                        "QuantidadeVendida": parseFloat(quantidade),
                        "ValorProduto": parseFloat(precoUnitario),

                    });
                }

                //Aqui está a criacao do JSON que será enviado para a Controller
                ListaProdutosJSON.value = JSON.stringify(Itens.Produtos);

                TotalVenda = Itens.Produtos.reduce((acc, item) => acc + (item.QuantidadeVendida * item.ValorProduto), 0)
                document.getElementById("divTotal").innerHTML = TotalVenda.toFixed(2).replace('.', ',');
                document.getElementById("TotalVenda").value = TotalVenda.toString().replace('.', ',');

                var linhaProduto = `
            <tr>
                <td class="text-center align-middle">${nomeProduto}</td>
                <td class="text-center align-middle">${quantidade}</td>
                <td class="text-center align-middle">R$ ${precoUnitario.toFixed(2)}</td>
                <td class="text-center align-middle">R$ ${total.toFixed(2)}</td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </td>
            </tr>`;

                ListaProdutos.innerHTML += linhaProduto;
            }
        })
    }

    @* function RemoverProduto(produtoId){
        Itens.Produtos = Itens.Produtos.filter(p => p.ProdutoId !=== produtoId);

        ListaProdutosJSON.value = JSON.stringify(Itens.Produtos);

        TotalVenda = Itens.Produtos.reduce((acc, item) => acc + (item.QuantidadeVendida * item.ValorProduto), 0);
        document.getElementById("divTotal").innerHTML = TotalVenda.toFixed(2).replace('.',',');
        document.getElementById("TotalVenda").value = TotalVenda.toString().replace('.',',');

        AtualizarTabelaProdutos();
    } *@

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}