@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(180, 56, 180);"><strong>BEM-VINDO</strong></h1>
    <img src="~/images/fundo.png" width="900" height="auto" />
</div>
