@model IEnumerable<Projeto_Sistema_de_Vendas.Models.Vendedor>


<h1>Vendedores Cadastrados</h1>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome do Vendedor</th>
            <th>E-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Email)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<a asp-action="Cadastrar" class="btn btn-primary w-100">Cadastrar Novo Vendedor</a>

<a asp-action="Menu" asp-controller="Home" class="btn btn-success w-100 mt-3">Voltar</a>
